<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.buyer.mapper.CommentMapper">

    <resultMap type="Comment" id="CommentResult">
        <result property="commentId"    column="comment_id"    />
        <result property="name"    column="name"    />
        <result property="openid"    column="openid"    />
        <result property="content"    column="content"    />
        <result property="sellerId"    column="seller_id"    />
        <result property="createTime"    column="create_time"    />
        <result property="avatarUrl"    column="avatar_url"    />
    </resultMap>

    <sql id="selectCommentVo">
        select comment_id, name, openid, content, create_time, avatar_url from comment
    </sql>

    <select id="selectCommentList" parameterType="Comment" resultMap="CommentResult">
        <include refid="selectCommentVo"/>
        <where>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="openid != null  and openid != ''"> and openid = #{openid}</if>
            <if test="content != null  and content != ''"> and content = #{content}</if>
        </where>
    </select>

    <select id="selectCommentById" parameterType="Long" resultMap="CommentResult">
        <include refid="selectCommentVo"/>
        where comment_id = #{commentId}
    </select>

    <insert id="insertComment" parameterType="Comment" useGeneratedKeys="true" keyProperty="commentId">
        insert into comment
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">name,</if>
            <if test="openid != null and openid != ''">openid,</if>
            <if test="content != null and content != ''">content,</if>
            <if test="createTime != null">create_time,</if>
            <if test="avatarUrl != null">avatar_url,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">#{name},</if>
            <if test="openid != null and openid != ''">#{openid},</if>
            <if test="content != null and content != ''">#{content},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="avatarUrl != null">#{avatarUrl},</if>
         </trim>
    </insert>

    <update id="updateComment" parameterType="Comment">
        update comment
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="openid != null and openid != ''">openid = #{openid},</if>
            <if test="content != null and content != ''">content = #{content},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="avatarUrl != null">avatar_url = #{avatarUrl},</if>
        </trim>
        where comment_id = #{commentId}
    </update>

    <delete id="deleteCommentById" parameterType="Long">
        delete from comment where comment_id = #{commentId}
    </delete>

    <delete id="deleteCommentByIds" parameterType="String">
        delete from comment where comment_id in
        <foreach item="commentId" collection="array" open="(" separator="," close=")">
            #{commentId}
        </foreach>
    </delete>
</mapper>
