<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.merchant.mapper.ProductCategoryMapper">

    <resultMap type="ProductCategory" id="ProductCategoryResult">
        <result property="categoryId"    column="category_id"    />
        <result property="categoryName"    column="category_name"    />
        <result property="categoryType"    column="category_type"    />
        <result property="sellerId"    column="seller_id"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="status"    column="status"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectProductCategoryVo">
        select category_id, category_name, category_type, create_time, update_time, status, del_flag, create_by, remark from product_category
    </sql>

    <select id="selectProductCategoryList" parameterType="ProductCategory" resultMap="ProductCategoryResult">
        <include refid="selectProductCategoryVo"/>
        <where>
            del_flag='0'
            <if test="categoryName != null  and categoryName != ''"> and category_name like concat('%', #{categoryName}, '%')</if>
            <if test="categoryType != null "> and category_type = #{categoryType}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
                and date_format(create_time,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
            </if>
            <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
                and date_format(create_time,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
            </if>
            order by create_time desc
        </where>
    </select>

    <select id="selectProductCategoryById" parameterType="Long" resultMap="ProductCategoryResult">
        <include refid="selectProductCategoryVo"/>
        where category_id = #{categoryId}
    </select>
    <select id="checkCategoryAllowed" resultType="java.lang.Integer">
        select count(1) from product_category
        where category_id=#{categoryId} and seller_id = #{sellerId} and del_flag='0'
    </select>

    <insert id="insertProductCategory" parameterType="ProductCategory" useGeneratedKeys="true" keyProperty="categoryId">
        insert into product_category
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="categoryName != null and categoryName != ''">category_name,</if>
            <if test="categoryType != null">category_type,</if>
            <if test="sellerId != null">seller_id,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="status != null">status,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="categoryName != null and categoryName != ''">#{categoryName},</if>
            <if test="categoryType != null">#{categoryType},</if>
            <if test="sellerId != null">#{sellerId},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="status != null">#{status},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateProductCategory" parameterType="ProductCategory">
        update product_category
        <trim prefix="SET" suffixOverrides=",">
            <if test="categoryName != null and categoryName != ''">category_name = #{categoryName},</if>
            <if test="categoryType != null">category_type = #{categoryType},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="status != null">status = #{status},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where category_id = #{categoryId}
    </update>

    <delete id="deleteProductCategoryById" parameterType="Long">
        delete from product_category where category_id = #{categoryId}
    </delete>

    <delete id="deleteProductCategoryByIds" parameterType="String">
        delete from product_category where category_id in
        <foreach item="categoryId" collection="array" open="(" separator="," close=")">
            #{categoryId}
        </foreach>
    </delete>
</mapper>
